body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    background-image:url("img/cookie_fundo.jpeg")
}

#quiz-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 90%;
}

#mascot {
    margin-bottom: 20px;
}

#number-input{
    margin-top: 10px;
}

#mascot img {
    width: 100px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#story-box, #question-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#story-text, #question-text {
    margin: 0;
    font-size: 1.2em;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer-button {
    padding: 15px 30px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}

.answer-button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* Button colors */
#start-yes-button, #yes-button, #contavel-button {
    background-color: #28a745;
}

#start-no-button, #no-button, #incontavel-button {
    background-color: #dc3545;
}

#continue-button {
    position: relative;
    background-color: rgb(230, 34, 77);
    border-radius: 5px;
    box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  #continue-button::before {
    content: "";
    background-color: rgb(248, 50, 93);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  #continue-button:hover::before {
    width: 100%;
  }

#submit-button {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
   }
   
#submit-button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   #submit-button:hover::before {
    width: 105%;
   }
   
   #submit-button:hover {
    color: #111;
   }
   
/* Responsive adjustments */
@media (max-width: 768px) {
    .answer-button {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    #quiz-container {
        padding: 15px;
    }

    #mascot img {
        width: 160px;
    }

    #story-box, #question-box {
        font-size: 14px;
    }

    .answer-button {
        font-size: 14px;
        padding: 10px;
    }
}
